:root{
    --c1:rgba(98, 28, 115, 0.31);
    --c2:rgba(161, 229, 217, 0.89);
    --c3:rgba(193, 14, 193, 0.76);
    --c4:rgba(238, 101, 62, 0.88);
    --c5:rgba(131, 99, 42, 0.5);
    color: white;
    --Centro: calc(100vw - attr(width) / 2);
}
html,body{
    height: 100%;
    background-color: black;
    margin: 0;
    scroll-behavior: smooth;
}
main{
    min-height: inherit;
}
h1,h2,h3,h4,h5,h6{
    margin:0;
}
body{
    -ms-overflow-style: none;
    scrollbar-width:none;
}
body::-webkit-scrollbar{
    display: none;
}
a,a:active,a:hover{
    color: var(--Texto);
    text-decoration: none;
}
*{
    box-sizing: border-box;
    padding: 0;
}
.Footer{
    font-size: 1vw;
    display: block;
    min-height: 5vh;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: var(--c1);
    color: var(--c2);
    text-shadow: 0 0 .3em var(--c3);
}
.FullWidth{width: 100%}
.FullHeight{min-height: 100vh}
.Flex{display: flex;}
.Wrap{flex-wrap: wrap;}
.Centro, .CentroY{align-items: center;}
.Centro, .CentroX{justify-content: center;}
.Col{flex-direction: column;}
.JCSA{justify-content: space-around;}
.JCSB{justify-content: space-between;}
.Wrap{flex-wrap: wrap;}
.Grid{display: grid;}
.InlineBlock{display: inline-block;}
.col{width: auto;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}
[class*="col-"] {
    margin: 0 auto;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
