h1,h3{
    text-shadow: .03em .03em .02em var(--c3);
    font-family: 'Major Mono Display', monospace;
    text-align: justify;
}
h1{
    font-size: 12em;
}
h3{
    font-size: 5em;
}
.Welcome{
    height: 95vh;
    background-color: var(--c1);
    color: var(--c2);
    padding: 0 10em;
}
.Criador{
    gap: 1em;
}
.Nome{
    display: none;
}
.Criador::before,.Nome::before{
    position: relative;
    left:-1em;
    font-size: 3em;
    font-family: 'Roboto Slab', serif;
}
.Criador::before{
    content: "Feito por";
}
.Nome::before{
    content: "Bem vindo ao";
}
.Sistemas{
    min-height: 30vh;
    min-width: min-content;
    max-width: 80%;
    margin: 3em auto;
    gap: auto;
}
.Frame{
    font-size: 1.5vw;
    margin: auto;
    width: 10vw;
    aspect-ratio:1;
    border: solid 1px #fff;
    border-radius: 50%;
    overflow: auto;
}
/* .PHP{
background-color: #556594;
border-radius: 16px;
color: black;
text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
} */
