h1,h3{
    text-shadow: .03em .03em .02em var(--c3);
    font-family: 'Major Mono Display', monospace;
    text-align: justify;
}
h1{
    font-size: 12em;
}
h3{
    font-size: 5em;
}
.Welcome{
    height: 95vh;
    background-color: var(--c1);
    color: var(--c2);
    padding: 0 10em;
}
.Creator{
    gap: 1em;
}
.Name{
    display: none;
}
.Creator::before,.Name::before{
    position: relative;
    left:-1em;
    font-size: 3em;
    font-family: 'Roboto Slab', serif;
    content: attr(bef);
}
.Sistems{
    min-height: 30vh;
    min-width: min-content;
    margin: 3em auto;
    padding: 0 3em;
    gap: auto;
}
.Frame{
    font-size: 90%;
    padding: .5em;
    max-width: min-content;
    border: solid 1px #fff;
    border-radius: 9999px;
}
.Frame::before{
    position: relative;
    display: block;
    content: " ";
    width: 1em !important;
    aspect-ratio:1;
    left: -1em;
    border: white solid 1px;
}
/* .PHP{
background-color: #556594;
border-radius: 16px;
color: black;
text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
} */
