.Paleta{
    border: .1em solid white;
    width: 50em;
    aspect-ratio:1;
    background-color: var(--c1);
    border-radius: 50%;
}
.Paleta .Fundo{
    aspect-ratio:1;
    background-color: var(--c2);
    border-radius: 50%;
}
.Fundo{
    width: 95%;
    height: 95%;
    padding: .3em;
}
.Cima,.Baixo{
    width: 100%;
    height: 95%;
}
.CDireita, .CEsquerda{
    width: 45%;
    aspect-ratio:1;
}
.CEsquerda{
    border-top-left-radius: 100%;
    background-color: var(--c3);
}
.CDireita{
    border-top-right-radius: 100%;
    background-color: var(--c4);
}
.CBaixo{
    width: 47%;
    aspect-ratio:1;
    background-color: var(--c5);
}
.CBEsquerda{
    border-bottom-left-radius: 100%;
}
.CBDireita{
    border-bottom-right-radius: 100%;
}
