main{
	background-color: var(--c1);
}
#Pallete{
	height: 100vh;
}
.OutPallete{
	width: 70%;
	height: 60%;
	border-radius: 2em;
	border: solid 1px var(--c4);
	padding: 1em 3em;
}
.LeftPallete{
	width: 40%;
	height: 100%;
	background-color: var(--c1);
	border-radius: 2em;
}
.RightPallete{
	width: 60%;
}
.Buttons{
	width: 100%;
	padding: 1em;
	border-bottom: 1px solid var(--c2);
}
.Button{
	width: 10em;
	aspect-ratio: 16/9;
	background-color: var(--c3);
	border-radius: 2em;
	color: var(--c2);
	border: var(--c2) solid 1px;
}
.Extract{
	height: 80%;
}
.InExtract{
	font-size: 200%;
}
.Pallete{
    border: .1em solid white;
    height: 95%;
    aspect-ratio:1;
    border-radius: 50%;
}
.Background{
	aspect-ratio:1;
	border-radius: 50%;
    width: 95%;
    height: 95%;
    padding: .3em;
}
.Up,.Down{
    width: 100%;
    height: 95%;
}
.URight, .ULeft{
    width: 45%;
    aspect-ratio:1;
}
.ULeft{
    border-top-left-radius: 100%;
}
.URight{
    border-top-right-radius: 100%;
}
.CDown{
    width: 47%;
    aspect-ratio:1;
}
.DLeft{
    border-bottom-left-radius: 100%;
}
.DRight{
    border-bottom-right-radius: 100%;
}
