.Pallete{
    border: .1em solid white;
    width: 50em;
    aspect-ratio:1;
    background-color: var(--c1);
    border-radius: 50%;
}
.Pallete .Background{
    aspect-ratio:1;
    background-color: var(--c2);
    border-radius: 50%;
}
.Background{
    width: 95%;
    height: 95%;
    padding: .3em;
}
.Up,.Down{
    width: 100%;
    height: 95%;
}
.URight, .ULeft{
    width: 45%;
    aspect-ratio:1;
}
.ULeft{
    border-top-left-radius: 100%;
    background-color: var(--c3);
}
.URight{
    border-top-right-radius: 100%;
    background-color: var(--c4);
}
.CDown{
    width: 47%;
    aspect-ratio:1;
    background-color: var(--c5);
}
.DLeft{
    border-bottom-left-radius: 100%;
}
.DRight{
    border-bottom-right-radius: 100%;
}
