.Select{
    background: var(--c1);
    height: 100%;
    border-left: 2px solid var(--c4);
    border-right: 2px solid var(--c4);
}
.Char{
    background: var(--c1);
    width: 10%;
    aspect-ratio:1;
    border: solid 3px var(--c4);
    border-radius: 16px;
    margin: 1em;
}
.BtnCreate{
    position: absolute;
    bottom: 1em;
    right: 1em;
    border-radius: 50%;
    background: var(--c4);
    width: 2em;
    aspect-ratio:1;
    font-size: 2em;
    color: white;
}
