.TK{
    position: relative;
    background-image: url("../tk/img/wpp");
    background-size: cover;
    color: #fff;
    text-shadow: 0 0 2px #000;
    font-size: 3em;
    padding: 2em 0;
}
.TK::before,.TK::after{
    display: inline-block;
    position: absolute;
    margin: auto;
}
.TK::before{
    top: .3em;
}
.TK::after{
    bottom: 0;
}
.Player{
    text-align: center;
}
img{
    margin: auto;
    width: 65%;
}
.Info{
    font-size: 300%;
    min-height: min-content;
    padding: 1em 0;
    background: var(--c1);
    color: var(--c2);
}
.BodyText{
    column-count: 3;
    margin: 1em;
    text-align: justify;
}
.InfoItem{
    display: inline-block;
    width: 25%;
    border: .1em solid var(--c2);
    text-shadow: 0 0 .2em var(--c3);
}
.Legend{
    font-size: 90%;
    margin: 1em auto;
    width: 32%;
    border: .1em solid var(--c2);
    min-height: min-content;
    text-align: center;
}
.InfoLegendItem{
    margin: .1em auto;
    width: 40%;
    background-color: var(--c5);
    border: solid .2em var(--c1);
    text-shadow: 0 0 .2em var(--c3);
    border-radius: 9999px;
}
