h1{margin: 0}
.OutQuadro{

}
.Quadro{
    padding-left: 1em;
    padding-right: 1em;
}
.Atrib{
    font-size: 1.5rem;
    border-right: 3px var(--Cinza) solid;
    border-left: 3px var(--Cinza) solid;
    border-radius: 1em;
    padding: 1em;
}
.Left,.Right{
    gap:1em;
}
.Left div{
    border-right: 0.1em var(--Cinza) solid;
    padding-right: 1em;
    margin-right: 1em;
}
.Info{
    border-right: 3px var(--Cinza) solid;
    border-left: 3px var(--Cinza) solid;
    border-radius: 1em;
}
.Arma{
    border-top: .1em var(--Cinza) solid;
    border-bottom: .1em var(--Cinza) solid;
    border-radius: 5px;
    width: 100%;
	margin-top: .1em;
	margin-bottom: .1em;
    padding: .3em;
}
.Bottom{
    height: 100%;
}
.OutHabilidade{
    height: 100%;
    width: 50%;
    padding: .5em;
    border-right: 3px var(--Cinza) solid;
}
.Habilidade{
    height: min-content;
    display: inline-block;
    margin: .5em;
    padding: .2em;
    text-align: center;
    border: .1em var(--Cinza) solid;
    border-radius: 5px;
}
.OutEquipamento{
    display: grid;
    grid: auto / auto auto auto;
    height: 100%;
    width: 50%;
    padding: .5em;
    border-left: 3px var(--Cinza) solid;
}
.Equipamento{
    align-self: center;
    height: 90%;
    aspect-ratio:1;
    display: inline-block;
    margin: auto;
    text-align: center;
    border: var(--Vermelho) solid 3px;
}
.Top{
    width: auto;
}
.Botao{
    gap: 5em;
}
.BotaoItem{
    aspect-ratio:1;
    background: var(--Cinza);
}
