:root{
	--corVermelho: #e03434;
	--corTexto: #e02424;
	--corPreto: #171717;
	--corFundo: #521f00;
}
html,body{
	height: 100%;
	background-color: var(--corPreto);
	color: var(--corTexto);
	margin: 0;
}
body{
	-ms-overflow-style: none; \\ scrollbar
	scrollbar-width:none;     \\ scrollbar
}
body::-webkit-scrollbar{
	display: none;            \\ scrollbar
}
.Body{
	margin: 0 auto;
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}
.Footer{
  display: block;
  min-height: 5vh;
  width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #e03434;
	color: #000;
}
.Home{
	width: 50vw;
	margin: auto;
}
.TK{
	min-height: 95vh;
	width: 100%;
	background-image: url('../img/wpp.jpg');
	background-size: cover;
	height:100%;
	display: flex;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
}
.Player{
	width: 50%;
	margin: 0;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.IMG{
	width: 100%;
	margin: auto;
}
img{
	width: 30vw;
}
.Button, .Button::after{
	margin: 1em auto;
	border-radius: 16px;
  border: solid 2px var(--corPreto);
}
.Button{
  background-color: var(--corVermelho);
  position: relative;
  width: 3rem;
  min-height: 3rem;
}
.Button:hover::after{
	display: block;
	position: absolute;
  content: attr(objetivo);
  color: #fff;
	top: 100%;
  right: -50%;
  width: 6rem;
	background: #0006;
  white-space: nowrap;
}
